{%extends 'main/index.html'%}
{% load static %}
{% load specifications %}

    {% block body %}
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="..." /></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                        <div class="fs-5 mb-2">
                            <span>{{ product.price }} ТГ</span>
                        </div>
                        <h5>{{product.description}}</h5>
                            {{ product|product_spec }}

                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                </div>
            </div>
        </section>
        
    {% endblock %}