.carousel-item{
    height:40vh;
    min-height: 150px;
    background: no-repeat center center scroll;
    background-size: cover;
}
.main-card-img{
    width:100%;
    height: 223px;

    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card-img, .card-img-top{
    height:562px;
}